@charset "UTF-8";

/* public */
.clear:after {
    content: "";
    display: block;
    clear: both;
}
a{ text-decoration: none; }

/* calendar */
#calendar {
    width: 400px;
    margin: 50px auto 0;
}

/* input */
.chooseDate {
    position: relative;
    width: 210px;
    cursor: pointer;
}
.chooseDate>input {
    display: block;
    width: 170px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 4px;
    padding-left: 35px;
    cursor: pointer;
}
.chooseDate>input:hover {
    border-color: #333;
}
.chooseDate .icon-rili {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 20px;
    font-weight: 600;
    color: #999;
    cursor: pointer;
}

/* calendar */
.calendar {
    position: relative;
    left: -197px;
    top: 50px;
    width: 630px;
    height: 400px;
    box-shadow: 10px 7px 20px 5px rgba(0,0,0,.25);
    animation: show 0.5s ease-out 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5 ease-out;
}
@keyframes show {
    0% {
        top: -50px;
        opacity: 0;
        /*transform: rotate(3deg);*/
    }
    25% {
        top: -25px;
        opacity: 0.25;
        /*transform: rotate(-3deg);*/
    }
    50% {
        top: 0px;
        opacity: 0.5;
        /*transform: rotate(3deg);*/
    }
    75% {
        top: 25px;
        opacity: 0.75;
        /*transform: rotate(-3deg);*/
    }
    100% {
        top: 50px;
        opacity: 1;
    }
}
.calendar .c-show {
    float: left;
    width: 35%;
    height: 100%;
    background-color: #009688;
}
.calendar .c-show>a {
    color: #fff;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.calendar .c-show a.year {
    margin-top: 20px;
    font-size: 20px;
    opacity: .8;
}
.calendar .c-show>a.year:hover {
    color: #333;
}
.calendar .c-show a.week {
    font-size: 30px;
}
.calendar .c-show a.day {
    font-size: 40px;
}

.chooseMonth,
.chooseYear{
    font-size: 20px;
    opacity: .8;
}
.yearList {
    animation: show-year 0.5s ease-out;
}
@keyframes show-year {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 100%;
        height: auto;
    }
}
.yearList>a.iconfont,
.yearList>a.year-item {
    display: inline-block;
    width: 100%;
    height: 22px;
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
    opacity: .8;
    text-align: center;
    cursor: pointer;
}
.yearList>a:hover{
    color: #333;
}

.monthList {
    margin-top: 15px;
    padding-left: 28px;
    animation: show-month 0.5s ease-out;
}
@keyframes show-month {
    0% {
        margin-left: -200px;
    }

    100% {
        margin-left: 0px;
    }
}
.monthList a.month-item {
    display: inline-block;
    width: 40%;
    height: 40px;
    padding: 10px 0 5px;
    font-size: 20px;
    color: #fff;
    opacity: .8;
    text-align: center;
    cursor: pointer;
}
.monthList>a:hover {
    color: #333;
}

.calendar .c-box {
    float: right;
    width: 65%;
    height: 100%;
}
.calendar .c-box .c-year {
    width: 90%;
    height: 30px;
    margin: 10px auto;
}
.calendar .c-box .c-year i {
    display: inline-block;
    line-height: 30px;
    color: #999;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.calendar .c-box .c-year i:hover {
    color: #009688;
}
.calendar .c-box .c-year .icon-zuo {
    float: left;
}
.calendar .c-box .c-year .icon-gengduo {
    float: right;
}
.calendar .c-box .c-year a.years {
    display: inline-block;
    margin-left: 35%;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
table.date-box {
    width: 100%;
    margin: 0 auto;
}
table.animate {
    animation: show-table .5s ease-out;
}
@keyframes show-table {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
table.date-box thead {
    color: #999;
}
table.date-box tbody td {
    font-size: 16px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
table.date-box tbody td>a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
table.date-box tbody td>a:hover {
    background-color: #009688;
    color: #fff;
}
table.date-box tbody td>a.active {
    background-color: #009688;
    color: #fff;
}

/* c-button */
.calendar .c-button {
    position: absolute;
    top: 360px;
    left: 455px;
}
.calendar .c-button a {
    margin-left: 35px;
    color: #009688;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.calendar .c-button a:hover {
    color: #333;
}